#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* Estilo para a Caixa/Contêiner da Imagem */
.perfil-box {
    /* Define uma altura fixa para a caixa preta. Ajuste este valor! */
    height: 450px; 
    /* Isso garante que a imagem não saia dos limites definidos acima */
    overflow: hidden; 
}

/* Estilo para a Imagem DENTRO da Caixa/Contêiner */
.perfil-box img {
    /* Faz a imagem ocupar 100% da largura da caixa */
    width: 100%;
    /* Faz a imagem ocupar 100% da altura da caixa */
    height: 100%;
    /* A chave: Faz a imagem preencher o espaço, cortando o excesso (mantém a proporção) */
    object-fit: cover;
}
